system:
"Please summarize the following text. and, provide separately the important points, the most highlighted points, and the points that we should consider more."
This the text file {{txt}}
 
Human: {{question}}
Bot: